# ignore all files in logs directory
src/utils/logs/

# ignore qTrace files, but not Daikon traces.
src/utils/trace/qtrace-*.txt

# ignore all PDF files
*.pdf

# ignore Images directory
Images/

# ignore Fedora Demo
Fedora_Demo/
